body{
    background-color: aqua;
}

a{
    text-decoration:none;
    font-size: 20px;
    color: brown;
}

a:hover{
    color: black;
    font-weight: 900;
}

.submit{
    width: 200px;
    height: 30px;
    color: black;
    background-color: blueviolet;
    border: 6px solid black;
    border-radius: 10px;
}

.submit:hover{
    background-color: cadetblue;
    border: 0px;
}